@mixin mobile-h3 {
  font-size: 33px;
  line-height: 110%;
}
@mixin center-it {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin monospaced($color: #979797) {
  font-family: "Sackers";
  // font-weight: 475;
  font-size: 14px;
  letter-spacing: .5px;
  text-transform: lowercase;
  color: $color;
}
