.fc .fc-button {
  border-radius: 12px;
}
// .fc .fc-daygrid-event-harness:not(:first-of-type) {
//   padding-top: 10px;
// }

.fc-event {
  cursor: pointer;
  background-color: #cf9d39;
  border: none;
  margin-bottom: 1px !important;
  transition: all 0.25s ease;
  .fc-event-title {
    font-family: "Sono";
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 525;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: #e3ab3b;
    box-shadow: rgba(180, 159, 42, 0.3) 0px 4px 6px -1px,
      rgba(180, 159, 42, 0.1) 0px 2px 4px -1px, inset 0 0.5px 2px #ffffffa0;
  }
}

.fc-daygrid-event {
  border-radius: 1px;
}

section {
  &.calendar-section {
    background: rgb(249, 249, 249);
    .container {
      #calendar {
        .fc-header-toolbar {
          .fc-toolbar-chunk {
            .fc-toolbar-title {
              font-size: 47px;
            }
            &:last-of-type {
              display: flex;
            }

            button,
            .fc-button-group {
              font-family: "Sono";
              font-weight: 475;
              font-size: 13px;
              letter-spacing: 1px;
              text-transform: uppercase;
              background: white;
              color: black;
            }
            button {
              border: 1px solid #ddd;
              &:hover {
                background: #f4f4f4;
              }
              &.fc-today-button {
                padding-left: 15px;
                padding-right: 15px;
                box-shadow: 0 1px 2px 0 #0000000d;
                &:hover {
                  background: #fffbca;
                }
                &[disabled] {
                  pointer-events: none;
                  opacity: 0;
                }
              }
            }
            .fc-button-group {
              border-radius: 12px;
              box-shadow: 0 1px 2px 0 #0000000d;
              button {
                padding-left: 15px;
                padding-right: 15px;
                &:active,
                &:focus {
                  box-shadow: none;
                }
              }
            }
          }
        }
        .fc-view-harness {
          .fc-daygrid {
            table {
              margin-bottom: 0;
              border: none;
              max-width: 100% !important;
              thead {
                th {
                  border: none;
                }
                .fc-col-header-cell-cushion {
                  text-decoration: none;
                  text-transform: uppercase;
                  font-size: 16px;
                  letter-spacing: 3px;
                  font-weight: 700;
                  padding-bottom: 1.5rem;
                }
              }
              tbody {
                tr {
                  td {
                    &[role="presentation"] {
                      border: none;
                    }
                    .fc-daygrid-day-number {
                      text-decoration: none;
                      font-size: 16px;
                      padding-right: 8px;
                      font-weight: 600;
                    }
                    .fc-day-other {
                      background-color: transparent;
                      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADxJREFUKFNjZCAOSDESoU6KgYHhGSGFYEUgw/AphCvCpxBFES6FGIqwKcSqCF0hTkXICvEqgikkqAikEACQ/wklBaJ5yQAAAABJRU5ErkJggg==)
                        repeat;
                    }
                    &:not(.fc-day-other) {
                      background: white;
                    }
                    .fc-day-today {
                      background: #fffbca;
                      .fc-daygrid-day-top {
                        // color: white;
                        .fc-daygrid-day-number {
                          font-weight: 700;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

$inner-border-color: #e7e7e7;

//* Modal styling
$modal-margin: 3rem;
.modal {
  .modal-dialog {
    max-width: 625px;
    // .modal-content defines the modal box
    .modal-content {
      border-radius: 10px;
      overflow: hidden;
      border: none;
      box-shadow: #003d3d0a 0px 64px 64px -32px, #003d3d0a 0px 32px 32px -16px,
        #003d3d0a 0px 16px 16px -8px, #003d3d0a 0px 12px 12px -6px,
        #003d3d0a 0px 6px 6px -3px, #003d3d0a 0px 3px 3px -1.5px,
        #001f1f14 0px 1px 1px -0.5px, #003d3d0a 0px 0px 0px 1px;
      .modal-header {
        padding: $modal-margin;
        padding-bottom: 0.25rem;
        // padding-top: 2.5rem;
        border: none;
        .modal-title {
          font-family: "Inter";
          color: rgb(29, 29, 29);
          font-weight: 600;
          font-size: 24px;
          letter-spacing: 0.1px;
          line-height: 128%;
          width: 75%;
          padding-bottom: 0.55rem;
        }
        .close-button-wrapper {
          background-color: #f9f9f9;
          border-radius: 77px;
          height: 40px;
          width: 40px;
          position: relative;
          border: none;
          position: absolute;
          top: 2rem;
          right: 2rem;
          .btn-close {
            padding: 0;
            margin: 0;
            transition: all 0.15s ease;
            @include center-it;
          }
          &:hover {
            .btn-close {
              color: rgb(29, 29, 29);
              opacity: 1;
            }
          }
        }
      }
      .modal-body-wrapper {
        line-height: 140%;
        font-size: 16px;
        padding: $modal-margin;
        padding-top: 0;
        .date-wrapper {
          color: hsla(50, 8%, 45%, 0.836);
          letter-spacing: 0.2px;
          .date-icon {
            position: relative;
            width: auto;
            height: 14px;
            margin-right: 10px;
            margin-left: 1.5px;
            top: -2px;
            path {
              fill: var(--color-secondary);
            }
          }
        }
        hr {
          background-color: $inner-border-color;
          margin: 1.75rem 0 1.55rem 0;
          opacity: 1;
        }
        .modal-body {
          padding: 0;
          color: #767364;
          letter-spacing: 0.2px;
          white-space: pre-line;
        }
      }
      .modal-footer {
        $mf-padding: 36px;
        padding: $modal-margin;
        padding-top: 1rem;
        padding-left: $mf-padding;
        padding-right: $mf-padding;
        gap: 5px;
        border-top-color: transparent;
        .btn {
          @include monospaced(white);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          border-radius: 1px;
          background-color: var(--color-secondary);
          padding-bottom: 5px;
          transition: all 0.25s ease;
          border: none;
          &:hover {
            background-color: #e3ab3b;
          }
          &:active,
          &:focus {
            box-shadow: none;
            border: none;
          }
          &.modal-attachment {
            border: 1.5px solid var(--color-secondary);
            background-color: transparent;
            color: var(--color-secondary);
            &:hover {
              color: white;
              background-color: #e3ab3b;
              border-color: #e3ab3b;
            }
          }
        }
      }
    }
  }
}

$outline-color: #e6e6e6;
//* Event List styling
.fc-monthList-view {
  position: relative !important;
  min-height: 200px;
  .events-list-wrapper {
    gap: 10px;
    position: relative;
    .event-list-item {
      padding: 2.75rem 2.25rem 3rem 2.25rem;
      border-radius: 10px;
      background-color: white;
      border: 1px solid $outline-color;
      transition: all 0.25s ease;
      position: relative;
      z-index: 7;
      &.today {
        background-color: #fffbca;
      }
      .event-list-title {
        font-family: "Inter";
        color: rgb(29, 29, 29);
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 0.75rem;
        letter-spacing: 0.1px;
      }
      .event-list-date-wrapper {
        color: hsla(50, 8%, 45%, 0.836);
        letter-spacing: 0.2px;
        .date-icon {
          display: inline-block;
          position: relative;
          width: auto;
          height: 14px;
          margin-right: 10px;
          margin-left: 1.5px;
          top: -1px;
        }
        .event-list-date-start,
        .event-list-date-end {
          display: inline;
        }
      }
      hr {
        background-color: #00000017;
        margin: 1.25rem 0;
        margin-bottom: 1.1rem;
        opacity: 1;
      }
      .event-list-description {
        padding: 0;
        padding-top: .5rem;
        color: #767364;
        letter-spacing: 0.2px;
        white-space: pre-line;
        line-height: 1.3;
      }
      .event-list-footer {
        padding: 2rem 0 0 0;
        gap: 5px;
        border-top-color: transparent;
        .event-list-flyer-btn,
        .event-list-link-btn {
          @include monospaced(white);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          letter-spacing: 2px;
          text-transform: uppercase;
          border-radius: 1px;
          background-color: var(--color-secondary);
          padding-bottom: 4.5px;
          padding-left: 1rem;
          padding-right: 1rem;
          transition: all 0.25s ease;
          border: none;
          &:hover {
            background-color: #e3ab3b;
          }
          &:active,
          &:focus {
            box-shadow: none;
            // border: none;
          }
        }
        .event-list-flyer-btn {
          border: 1.5px solid var(--color-secondary);
          background-color: transparent;
          color: var(--color-secondary);
          &:hover {
            color: white;
            background-color: #e3ab3b;
            border-color: #e3ab3b;
          }
        }
        &.no-buttons {
          padding: 0;
        }
      }
      &:hover {
        border-color: #ddd;
        z-index: 77;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
      }
    }
  }
  .no-events-message {
    display: flex;
    align-items: center;
    @include center-it;
    @include monospaced(rgb(184 184 184));
    // top: 20%;
    .no-events-icon {
      height: 12px;
      width: auto;
      margin-right: 15px;
      opacity: 0.23;
    }
  }
}

.events-list-container {
  margin-top: -84px;
  .events-list-heading {
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    font-family: "IKOB";
    font-size: 45px;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  #events-list {
    .events-list-wrapper {
      // gap: 15px;
      .event-list-item {
        padding-top: 2rem;
        padding-bottom: 2rem;
        &:hover {
          // box-shadow: none;
        }
        .event-list-title {
          font-size: 22px;
          padding-bottom: 0.35rem;
        }

        .event-list-date-wrapper {
          font-size: 14px;
        }
        .event-list-description {
          line-height: 151%;
          font-size: 14px;
        }
        .event-list-footer {
          padding-bottom: 4px;
        }
      }
    }
  }
  .all-events-link {
    display: inline-block;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    padding-right: 1rem;
    font-family: "Sono";
    font-weight: 475;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

//~ =============================
//~ ====== PHABLET STYLING ======
//~ =============================

@media screen and (max-width: 768px) {
  section {
    &.hours-table {
      padding-top: 16rem;
      padding-bottom: 10rem;
      .container {
        .row {
          [class*="col"] {
            .events-list-container {
              .events-list-heading {
                font-size: 37px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  section {
    &.calendar-section {
      padding-top: 11rem;
      padding-bottom: 7rem;
      .container {
        #calendar {
          .fc-header-toolbar {
            position: relative;
            margin-bottom: 0.9rem;
            .fc-toolbar-chunk:nth-of-type(2) {
              position: absolute;
              width: 100%;
              left: 0;
              top: -4rem;
              h2 {
                @include center-it;
                width: 100%;
                text-align: center;
                font-size: 32px;
              }
            }
            .fc-toolbar-chunk {
              .fc-button-group {
                .fc-prev-button,
                .fc-next-button {
                  .fc-icon {
                    position: relative;
                    top: -0.75px;
                  }
                }
              }
            }
          }
          .fc-view-harness {
            .custom-view {
              .no-events-message {
                width: 100%;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
  .events-list-wrapper {
    .event-list-item {
      .event-list-title {
        line-height: 130%;
      }
      .event-list-date-wrapper {
        font-size: 15px;
      }
      .event-list-description {
        font-size: 15px;
        line-height: 150%;
      }
    }
  }
}
